.welcome-image{
  width: 100%;
  object-fit: cover;
  padding: 10px;
}
.subtitle{
  text-align: justify;
  background-color: rgba(50,20,30,0.2);
  padding: 15px;
  border: 1px solid;
  border-radius: 3px;
}
